.modal {
  position: fixed; 
  z-index: 5; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(2, 2, 2, 0.103);
}
i:hover{
  cursor: pointer;
}
h2{
  margin-bottom: 15px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  height: 65%;
  background-color: #fff;
  z-index: 10;
  border-radius: 15px;
  position: relative;
}
.icon{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #38CABC;
}
.container .category-select{
    width: 47%;
    margin-bottom: 10px;
}
.container .btn{
  margin-bottom: 20px;
}
form input {
  all: unset;
}