.welcome-container{
  padding: 3% 5%;
  display: flex;
  background-color: #F4F2F3;
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  align-items: center;
  margin-top: 130px;
}
.main-text{
color: #292929;
margin-bottom: 3%;
}
.website-description{
  width: 90%;
  color: #474747;
  margin-bottom: 3%;
}
.between-tow-component{
  width: 30px;
}
@media (max-width: 1000px) {
.welcome-container{
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  gap: 1.5rem;
  line-height: 1.5rem;
  padding-top: 2.5rem;
  margin-top: 22rem;
}

.welcome-container img {
  width: 100%;
}

.website-description {
  font-size: 1.3rem;
  line-height: 1.3;
  margin-top: 1rem;
}
}