.tasks-filters {
  display: flex;
  justify-content: space-around;
}

.tasks-filters button {
  padding: 0.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.4rem;
  color: initial;
}

.selectedFilter {
  border-bottom: #ff0000 solid 2.5px;
  color: white !important;
}
